html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1em 2em;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: .5em;
    text-align: left;
}


.endpoint {
    margin-bottom: 2em;
    padding: .2em 1.5em 1.5em;
    border: 1px solid #ddd;
    display: flex;
    gap: 2em;
}

.endpoint>div {
    width: 50%;
}

.endpoint h2 {
    margin-bottom: 4px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.details {
    display: flex;
    flex-direction: column;
}

.response {
    padding: 1.5em 0em 0em;
}

.method {
    font-weight: bold;
    padding: 2px 4px;
    color: white;
    text-transform: uppercase;
    margin-right: 12px;
}

.GET {
    background-color: #4CAF50;
}

.POST {
    background-color: #2196F3;
}

.PUT {
    background-color: #FF9800;
}

.DELETE {
    background-color: #F44336;
}

pre {
    background: #f5f5f5;
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre;
}